.rectShape .ant-card-head {
  min-height: fit-content;
}

.ant-card {
  text-align: center;
}

.rectShape .ant-card .ant-card-body {
  padding: 0 10px;
  justify-content: center;
  /* min-height: 100px; */
}
