html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
}

.panel {
  width: 250px;
}

.title::after {
  content: "";
  margin-left: 0.5rem;
  animation: cursor 1s infinite steps(2);
}

@keyframes cursor {
  from {
    border-right: 2px solid rgb(71, 71, 71);
  }
  to {
    border-right: 2px solid lightgrey;
  }
}

.searchIcon {
  position: relative;
  left: -18px;
  top: 1px;
  background: url("data:image/gif;base64,R0lGODlhMAAwAIAAAP///wAAACH5BAEAAAAALAAAAAAwADAAAAIxhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8egpAAA7")
}



